!   ─┐ ┬┬─┐┌─┐┌─┐┌─┐┬ ┬┬─┐┌─┐┌─┐┌─┐
!   ┌┴┬┘├┬┘├┤ └─┐│ ││ │├┬┘│  ├┤ └─┐
!   ┴ └─┴└─└─┘└─┘└─┘└─┘┴└─└─┘└─┘└─┘

! special
*.foreground:   #685c56
*.background:   #ede6e3
*.cursorColor:  #685c56

! black
*.color0:       #ede6e3
*.color8:       #ede6e3

! red
*.color1:       #3a3a3a
*.color9:       #3a3a3a

! green
*.color2:       #637a8a
*.color10:      #637a8a

! yellow
*.color3:       #aa8f7c
*.color11:      #aa8f7c

! blue
*.color4:       #8b8f7e
*.color12:      #8b8f7e

! magenta
*.color5:       #877979
*.color13:      #877979

! cyan
*.color6:       #937f74
*.color14:      #937f74

! white
*.color7:       #685c56
*.color15:      #685c56

URxvt.letterSpace: 0
URxvt.lineSpace: 1
URxvt.geometry: 92x26
URxvt.internalBorder: 30
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollTtyOutput:  false
URxvt.depth: 32
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.urgentOnBell: true
URxvt.visualBell: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Perls
URxvt.perl-ext-common : default,keyboard-select,resize-font,url-select,confirm-paste,prevent-close
URxvt.keysym.A-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt*font: xft:Monospace:size=9:antialis=true
URxvt*boldFont: xft:Monospace:bold:size=9:antialis=true
URxvt.resize-font.step: 0.5
URxvt.perl-ext:

!! Clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control_C: eval:selection_to_clipboard
